<%= form_for(@topic, url: choose_new_or_edit) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= @topic.errors.count %>件のエラーがあります。</h2>

      <ul>
        <% @topic.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= pict_img(@topic) if pict_img(@topic) %>
  <%= f.file_field :pict %>
  <%= f.hidden_field :pict_cache %>
  <%= f.text_field :content, class: 'form-control', placeholder: "今日の気分は？" %>
  <br>
  <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
<% end %>

<%= link_to "戻る", topics_path, class: 'btn btn-default btn-block' %>
