<p><%= notice %></p>

<p>
<%= link_to "今の気分は？", new_topic_path, class: 'btn btn-default' %>
</p>

<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">

    <% @topics.each do |topic| %>

    <div class="row">
      <p><%= profile_img(topic.user) %> <%= topic.user.name %></p>

      <p><%= topic.content %></p>
      <% if ! topic.pict.blank? %>
        <p><%= pict_img(topic) if pict_img(topic) %></p>
      <% end %>
      <p><%= link_to topic_path(topic) do %>コメントする<% end %></p>
     
      <% if topic.user.id == current_user.id %>
        <%= link_to "編集", edit_topic_path(topic.id), class: 'btn btn-sm btn-primary' %>
        <%= link_to "削除", topic_path(topic.id), method: :delete, data: { confirm: '削除していいですか？' }, class: 'btn btn-sm btn-default' %>
      <% end %>

    </div>

  <% end %>

  </div>
</div>
