<div class="container">
  <h2>ユーザー詳細</h2>

  <div class="row">
    <div class="container-child col-md-8 col-sm-10 col-xs-12">
      <%= profile_img(@user) %>
      <%= @user.email %>
      <% if current_user.id != @user.id %>
        <%= render 'follow_form', user: @user %>
      <% end %>
    </div>
  </div>
  <br>

  <h2>フォロー中</h2>

  <div class="row">
    <div class="container-child col-md-8 col-sm-10 col-xs-12">
      <% @user.followed_users.each do |f| %>
          <%= profile_img(f) %> <%= f.name %>
      <% end %>
    </div>
  </div>

    <h2>フォロワー</h2>

  <div class="row">
    <div class="container-child col-md-8 col-sm-10 col-xs-12">
      <% @user.followers.each do |f| %>
          <%= profile_img(f) %>
          <%= f.name %>
      <% end %>

    </div>
  </div>
</div>
