<!DOCTYPE html>
<html>
<head>
  <title>Exam3</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>

  <% if user_signed_in? %>
    <script>
      var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>',{
        encrypted: true,
        cluster: 'ap1'      
      });

      var channel = pusher.subscribe("user_<%= current_user.id %>_channel");
      channel.bind('comment_created', function(data) {
        alert(data.message);
      });

      channel.bind('notification_created', function(data) {
        $('#unread_count').html(data.unread_counts);
      });

    </script>
  <% end %>


</head>
<body>

  <header>

    <div class="row">
      <div class="col-xs-4">
        <ul>
          <li><%= link_to '', root_path, class: "fa fa-facebook-official fa-lg" %></li>
        </ul>
      </div>
      <div class="col-xs-8">
        <ul>
          <% if user_signed_in? %>
            <li><%= link_to "ホーム", topics_path %></li>
            <li><%= link_to current_user.name, edit_user_registration_path %></li>
            <li><%= link_to "メッセージ", conversations_path %></li>
            <li><%= link_to '友達を探す', users_path %></li>
            <%= link_to notifications_index_path, class: "navbar-brand" do %>
              <i class="fa fa-bell fa-1x"><span id="unread_count"><%= @notifications_count %></span></i>
            <% end %>

            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
            <li><%= link_to "サインアップ", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>

  </header>

<%= yield %>

</body>
